body {
    background-color: lightgray;
    border: 2px solid black;
    


}

header {
    border: 2px solid green;
}

nav ul {
    background-color: white;
    list-style: none;   /* quita las viñetas */
    margin: 0;
    padding: 0;
    display: flex;      /* pone los <li> en fila horizontal */
    justify-content: center;  /* 🔹 centra HORIZONTALMENTE */
    gap: 50px;          /* espacio entre los elementos (opcional) */

}

nav li a {
  text-decoration: none;  /* quita el subrayado */
  /* color, padding, etc. si quieres darle estilo */
  align-items: center; /* centra verticalmente los elementos si tienen diferentes alturas */
}


.container1 {
    border: 2px solid red;

}   